# Salin file ini jadi .env dan isi sesuai punya Anda

# Connection string MongoDB Atlas (atau lokal: mongodb://localhost:27017/kebun-monitor)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/kebun-monitor

# Port server backend
PORT=5000
